.git
.github
.venv
__pycache__
*.pyc
**/__pycache__
**/*.pyc
.env
data/cache
data/media.json
data/votes_*.json
data/users*.json
screens
.gitignore
.pre-commit-config.yaml
tests
*.md
.python-version
Dockerfile
docker-compose.yml